@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Rooms</h2>

<p>
    <a asp-page="Create">Add Room</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Room ID
        </th>
        <th>
            Seat count
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Rooms)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @item.Seats.Count
            </td>
            <td>
                @if ((await AuthorizationService.AuthorizeAsync(User, "IsManager")).Succeeded)
                {
                    <a asp-page="./Edit" asp-route-id="@item.RoomId">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.RoomId">Delete</a>
                }
                <a asp-page="./Details" asp-route-id="@item.RoomId">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>