@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Schedule</h2>

<p>
    <a asp-page="Create">Add schedule item</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleItems[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleItems[0].Movie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleItems[0].Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleItems[0].StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleItems[0].Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleItems[0].EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleItems[0].Price)
        </th>
        <th>
            Tickets remaining
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ScheduleItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title): @item.Movie.ReleaseDate.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.Seats.Count(seat => seat.OccupiedBy == null)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>

                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="/Tickets/BuyTicket" asp-route-id="@item.Id">Buy ticket</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>